* {
  color: white;
  list-style: none;
  text-decoration: none;
}
body {
  width: 1320px;
  margin: 5% auto 0px;
  background-color: black;
}
.active {
  font-weight: bold; color: blue; //delete || adjust
}